test_data/recources/auto_test_tool_credential.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: auto_test_tool_credential
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/github:0.3.2@1cb2f90ea05bbc7987fd712aff0a07594073816269125603dc2fa5b4229eb122
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 5
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: tool
      id: 1773908295327-source-1773908436471-target
      source: '1773908295327'
      sourceHandle: source
      target: '1773908436471'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: end
      id: 1773908436471-source-1773908444920-target
      source: '1773908436471'
      sourceHandle: source
      target: '1773908444920'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables: []
      height: 73
      id: '1773908295327'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The GitHub username to get information for. The name is not case
              sensitive.
            ja_JP: The GitHub username to get information for. The name is not case
              sensitive.
            pt_BR: O nome de usuário do GitHub para obter informações. O nome não
              diferencia maiúsculas de minúsculas.
            zh_Hans: 要获取信息的GitHub用户名。名称不区分大小写。
          label:
            en_US: Username
            ja_JP: Username
            pt_BR: Nome de usuário
            zh_Hans: 用户名
          llm_description: The GitHub username to get information for. The name is
            not case sensitive.
          max: null
          min: null
          name: username
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        params:
          username: ''
        plugin_id: langgenius/github
        plugin_unique_identifier: langgenius/github:0.3.2@1cb2f90ea05bbc7987fd712aff0a07594073816269125603dc2fa5b4229eb122
        provider_icon: https://console-platform.dify.dev/console/api/workspaces/current/plugin/icon?tenant_id=f3845ea3-3629-4e56-b87f-8c7a9b964d93&filename=b73c6560cb94e70396e2874a11da39d0bbb6263bb67bb2617d2d39226b04962b.svg
        provider_id: langgenius/github/github
        provider_name: langgenius/github/github
        provider_type: builtin
        selected: true
        title: 用户信息
        tool_configurations: {}
        tool_description: 获取GitHub用户的详细信息，包括个人资料、统计数据和社交链接
        tool_label: 用户信息
        tool_name: github_user_info
        tool_node_version: '2'
        tool_parameters:
          username:
            type: mixed
            value: '{{#sys.user_id#}}'
        type: tool
      height: 52
      id: '1773908436471'
      position:
        x: 382
        y: 282
      positionAbsolute:
        x: 382
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1773908436471'
          - text
          value_type: string
          variable: res
        selected: false
        title: 输出
        type: end
      height: 88
      id: '1773908444920'
      position:
        x: 684
        y: 282
      positionAbsolute:
        x: 684
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 46.519439034995
      y: 21.31368720726863
      zoom: 0.9382211965006707
  rag_pipeline_variables: []
